body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

h2 {
    text-align: center;
}

button {
    width: 100%;
    border: none;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: #5c5cf2;
    color: white;
    cursor: pointer;
    margin: 0; 
}

input[type=text], input[type=date], input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    outline: none;
}

input[type=text]:focus, input[type=date]:focus, input[type=password]:focus {
    border-color: black;
}

#license-key-Container {
    display: none;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}
